@model CoreValidatorExample.WebSite.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>Validation mechanism for a WorkFlow engine</div>
<div>Should be extendable</div>
<div>To be used in different WorkFlows</div>
<div>Validation rules might be the same in differnt flows</div>
<p></p>
<p></p>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
