@model CoreValidatorExample.WebSite.Models.HomeViewModel
@{
    ViewData["Title"] = "TestWorkflowAndApiCall Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Test WorkFlow</p>

@using (Html.BeginForm(actionName: "ProposalChangeState", controllerName: "Home", method: FormMethod.Post))
{    
    @Html.HiddenFor(m=>m.ChangeStateResultMessage)
    <div>       
        <input type="submit" value="ChangeState" />
    </div>
    <p></p>
    <div>Response from State Change: </div>
    <p>@Model.ChangeStateResultMessage</p>

    <p>Further change state buttons to be implemented, for different WFs...</p>
}